<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="SecurePdf" value="D:\Masters\NET1\BIN\"/>
        <add key="AdsiConfigFile" value="D:\Masters\Config\AdsiConfig.config"/>
        <add key="DBConfigFile" value="D:\Masters\Config\DBConfig.config"/>
        <add key="WebServerConfigFile" value="D:\Masters\Config\WebServerConfig.config"/>
        <add key="MailConfigFile" value="D:\Masters\Config\MailConfig.config"/>
        <add key="ErrorLogPath" value="D:\ErrorLog"/>
        <add key="KnownApplicationErrorPath" value="D:\Masters\Config\KnownApplicationError.xml"/>
        <add key="KnownDatabaseErrorPath" value="D:\Masters\Config\KnownDatabaseErrorPath.xml"/>
        <add key="ServerUrlsConfigFile" value="D:\Masters\Config\ServerUrlsConfigFile.config"/>
        <add key="UserErrorsFilePath" value="D:\UserErrors"/>
        <add key="HomePage" value="http://mks.ford.com.tr"/>
        <add key="DomainName" value="ford.com.tr"/>
        <add key="LoginSiteName" value="https://login.ford.com.tr"/>
        <add key="FOInterfaces.wsConfigurator.Configurator" value="http://net1.ford.com.tr/DBConfigService/Configurator.asmx"/>
        <add key="dbconfigservice" value="http://net1.ford.com.tr/DBConfigService/Configurator.asmx"/>
        <add key="ServiceTimerInterval" value="60000"/>
        <add key="EbaServer" value="testnet20.ford.com.tr"/>
        <add key="EbaUserCode" value="ncoban"/>
        <add key="EbaUserPass" value="E5jSd30VDzo="/>
        <add key="EbaAttachFolder" value=""/>
        <add key="SosAttachFolder" value=""/>
        <add key="IsWriteError2Log" value="1"/>
        <add key="Developer" value="lburgu"/>
        <add key="SMTPServer" value="websmtp1.ford.com.tr"/>
        <add key="IsSendError2Mail" value="1"/>
        <add key="SendToErrorMailList" value="lburgu1"/>
        <add key="debugMode" value="false"/>
        <add key="RestartFlowMode" value="false"/>
        <add key="RecoveryEbaError" value="ORA-00001;_UnLockProcess"/>
        <add key="EbaConnectionType" value="eachForm"/>
        <add key="SyhmsfBaslat" value="false"/>
        <add key="SyhavaBaslat" value="false"/>
        <add key="MuftonBaslat" value="false"/>
        <add key="MuhmasBaslat" value="false"/>
        <add key="NetofBaslat" value="false"/>
        <add key="NetIDBaslat" value="false"/>
        <add key="TerkinBaslat" value="false"/>
        <add key="TiadeBaslat" value="false"/>
        <add key="ThsidBaslat" value="false"/>
        <add key="ImlavaBaslat" value="false"/>
        <add key="FatsBaslat" value="false"/>
        <add key="TalepSos" value="false"/>
        <add key="UydgdaBaslat" value="false"/>
        <add key="SmrBaslat" value="false"/>
        <add key="AcrBaslat" value="false"/>
        <add key="CLAHOFBaslat" value="false"/>
        <add key="CLAHFCNCBaslat" value="false"/>
        <add key="SapOdfrmBaslat" value="false"/>
        <add key="SPFRMBaslat" value="false"/>
        <add key="FMSCBaslat" value="false"/>
        <add key="TOSHOLDBaslat" value="false"/>
        <add key="EXCARBaslat" value="false"/>
        <add key="INVALIDStep" value="false"/>
        <add key="IMSBaslat" value="false"/>
        <add key="KPSBaslat" value="false"/>
        <add key="ITHALATBaslat" value="false"/>
        <add key="AtsTeminatBaslat" value="false"/>
        <add key="AtsLimitBaslat" value="false"/>
        <add key="AtsVadeBaslat" value="false"/>
        <add key="AtsHavaleBaslat" value="false"/>
        <add key="AtsFaturaIptalBaslat" value="false"/>
        <add key="AtsStandartVadeBaslat" value="false"/>
        <add key="FtruckFaturaBaslat" value="false"/>
        <add key="MusteriFaturaBaslat" value="false"/>
        <add key="BayiOnayBaslat" value="false"/>
        <add key="RAWSYSBaslat" value="false"/>
        <add key="RAWSYS2Baslat" value="false"/>
        <add key="IATSTahsilatBaslat" value="false"/>
        <add key="TopluFaturaVadeGuncellemeBaslat" value="false"/>
        <add key="IATSFaturaVadeGuncellemeBaslat" value="false"/>
        <add key="SPIDSVadeBaslat" value="false"/>
        <add key="SPIDSVadeBaslat" value="false"/>
        <add key="ATFBaslat" value="false"/>
        <add key="TGIOFBaslat" value="false"/>
        <add key="IATSTOFBaslat" value="false"/>
        <add key="ATSDBSFTOFBaslat" value="false"/>
		<add key="GPSBaslat" value="false"/>
		<add key="LFMTKBaslat" value="false"/>
		<add key="LFMTKContinueProcess" value="false"/>
		<add key="DOFOOFBaslat" value="false"/>
		<add key="MLOABaslat" value="false"/>
		<add key="FGOFBaslat" value="false"/>
		<add key="CKGOFBaslat" value="false"/>
		<add key="SLOFBaslat" value="false"/>
		<add key="TPSOFBaslat" value="false"/>
		<add key="PBOFBaslat" value="false"/>
		<add key="CAPEX_DOFBaslat" value="false"/>
		<add key="BUYBACKBaslat" value="false"/>
		<add key="YPTYDOFBaslat" value="false"/>
	    <add key="YPKKOFBaslat" value="false"/>
		<add key="N_VADUZTBaslat" value="false"/>
	    <add key="N_VADUZTContinueProcess" value="false"/>
		<add key="YPKPTOFBaslat" value="false"/>
		<add key="NCS_ITHPBaslat" value="false"/>
		<add key="NCS_KAMPBaslat" value="false"/>
		<add key="YPKSDOFBaslat" value="false"/>
		<add key="YPKTOFBaslat" value="false"/>
		<add key="N_GGMGFBaslat" value="true"/> 
		<add key="N_ZIYRANBaslat" value="true"/>
		<add key="UYDGDAContinueProcess" value="true"/>
    <add key="RMISBaslat" value="true"/>


		<add key="ServerName" value="EBA5TEST"/>
        <add key="UserName" value="lburgu"/>
        <add key="PassWord" value="0000"/>
        <add key="DefaultUser" value="lburgu"/>
		<add key="EBAWCFClientUsername" value="admin"/>
		<add key="EBAWCFClientPass" value="0000"/>

        <add key="ClientSettingsProvider.ServiceUri" value=""/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
            </providers>
        </roleManager>
    </system.web>


    <!--<system.net>
        <defaultProxy>
            <proxy
               proxyaddress = "http://proxy.ford.com.tr:8083/"   bypassonlocal="True"
            />
        </defaultProxy>
    </system.net>-->


    <system.serviceModel>
        <bindings>
			<basicHttpBinding>
				<binding name="eBAWSAPISoap" />
			</basicHttpBinding>
            <customBinding>
                <binding name="zkaza">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10"/>
                    <httpsTransport authenticationScheme="Basic"/>
                </binding>
                <binding name="zkaza_soap12">
                    <mtomMessageEncoding/>
                    <httpsTransport authenticationScheme="Basic"/>
                </binding>
				
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://gckvt352.ford.com.tr:8000/sap/bc/srt/rfc/sap/z_hpa_kaza_entegrasyon/100/z_hpa_kaza_entegrasyon/zkaza" binding="customBinding" bindingConfiguration="zkaza" contract="SapServiceReference.z_hpa_kaza_entegrasyon" name="zkaza"/>
            <endpoint address="http://gckvt352.ford.com.tr:8000/sap/bc/srt/rfc/sap/z_hpa_kaza_entegrasyon/100/z_hpa_kaza_entegrasyon/zkaza" binding="customBinding" bindingConfiguration="zkaza_soap12" contract="SapServiceReference.z_hpa_kaza_entegrasyon" name="zkaza_soap12"/>
			<endpoint address="http://eba5test.ford.com.tr/eba.net/ws/ebawsapi.asmx" binding="basicHttpBinding" bindingConfiguration="eBAWSAPISoap"	contract="EbaClientWcf.eBAWSAPISoap" name="eBAWSAPISoap" />
		</client>
    </system.serviceModel>
</configuration>
