<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="eBAWSAPISoap" />
			</basicHttpBinding>
			<customBinding>
				<binding name="eba">
					<mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
					<httpTransport />
				</binding>
				<binding name="eba_soap12">
					<mtomMessageEncoding />
					<httpTransport />
				</binding>

			</customBinding>
		</bindings>
		<client>
			<endpoint address="http://mozaikqa.ford.com.tr:8000/sap/bc/srt/rfc/sap/zwshpa_eba_entgrsyn/310/eba/eba"
                binding="customBinding" bindingConfiguration="eba" contract="SapServiceReference.ZWSHPA_EBA_ENTGRSYN"
                name="eba" />
			<endpoint address="http://mozaikqa.ford.com.tr:8000/sap/bc/srt/rfc/sap/zwshpa_eba_entgrsyn/310/eba/eba"
                binding="customBinding" bindingConfiguration="eba_soap12"
                contract="SapServiceReference.ZWSHPA_EBA_ENTGRSYN" name="eba_soap12" />
			<endpoint address="http://eba5test.ford.com.tr/eba.net/ws/ebawsapi.asmx"
                binding="basicHttpBinding" bindingConfiguration="eBAWSAPISoap"
                contract="EbaClientWcf.eBAWSAPISoap" name="eBAWSAPISoap" />

		</client>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>



