<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="eba">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:rfc:functions':    -->
                    <!--    <wsdl:binding name='eba'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10"/>
                    <httpTransport/>
                </binding>
                <binding name="eba_soap12">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:rfc:functions':    -->
                    <!--    <wsdl:binding name='eba_soap12'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://mozaikqa.ford.com.tr:8000/sap/bc/srt/rfc/sap/zwshpa_eba_entgrsyn/310/eba/eba" binding="customBinding" bindingConfiguration="eba" contract="SapServiceReference.ZWSHPA_EBA_ENTGRSYN" name="eba"/>
            <endpoint address="http://mozaikqa.ford.com.tr:8000/sap/bc/srt/rfc/sap/zwshpa_eba_entgrsyn/310/eba/eba" binding="customBinding" bindingConfiguration="eba_soap12" contract="SapServiceReference.ZWSHPA_EBA_ENTGRSYN" name="eba_soap12"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
